<nav  th:fragment="leftMenu" id="navLeftMenu">
    <ul>
        <li>
            <a>MENU 01</a>
            <ul>
                <li><a href="#">SUB-MENU01</a></li>
                <li><a href="#">SUB-MENU02</a></li>
                <li><a href="#">SUB-MENU03</a></li>
            </ul>
        </li>
        <li>
            <a>MENU 02</a>
            <ul>
                <li><a href="#">SUB-MENU01</a></li>
                <li><a href="#">SUB-MENU02</a></li>
                <li><a href="#">SUB-MENU03</a></li>
            </ul>
        </li>
        <li>
            <a>MENU 03</a>
            <ul>
                <li><a href="#">SUB-MENU01</a></li>
                <li><a href="#">SUB-MENU02</a></li>
                <li><a href="#">SUB-MENU03</a></li>
            </ul>
        </li>
    </ul>
</nav>