<section th:fragment="content">
    <article>
        <form>
            <h1>LOGIN</h1>
            <label for="userId">
                <span>아이디</span>
                <input type="text" name="userId" id="userId" class="" title="아이디" placeholder="사원번호" value=""/>
            </label>
            <label for="userPswd">
                <span>비밀번호</span>
                <input type="password" name="userPswd" id="userPswd" class="" title="비밀번호" placeholder="비밀번호" value=""/>
            </label>
            <button id="login">로그인</button>
            <button id="regEmployee">사원등록</button>
        </form>
    </article>
</section>