<section th:fragment="content">
  <article>
    <h1>Main Content</h1>
    <h2>Main Content</h2>
    <h3>Main Content</h3>
    <h4>Main Content</h4>
    <h5>Main Content</h5>
    <h6>Main Content</h6>
    <span>텍스트 영역 </span>
    <p>텍스트 영역 </p>
    <table>
      <caption>test</caption>
      <thead>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      </thead>
      <tbody>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      </tbody>
    </table>
    <textarea>텍스트 영역 </textarea>
    <select>
      <option value="">all</option>
      <option value="A">ASSSSSSSSSS</option>
      <option value="B">BVVVVVVVVVV</option>
    </select>
    <form>
      <label for="readonly">readonly<input id="readonly" type="text" value="test text" readonly/></label>
      <label for="disabled">disabled<input id="disabled" type="text" value="test text" disabled/></label>
      <label for="text">text<input id="text" type="text" value="test text"/></label>
      <label for="radio">radio<input id="radio" name="radio" type="radio" /></label>
      <label for="radio1">radio<input id="radio1" name="radio" type="radio" /></label>
      <label for="radio2">radio<input id="radio2" name="radio" type="radio" /></label>
      <label for="radio3">radio<input id="radio3" name="radio" type="radio" disabled/></label>
      <label for="checkbox">checkbox<input id="checkbox" name="checkbox" type="checkbox" /></label>
      <label for="checkbox1">checkbox1<input id="checkbox1" name="checkbox" type="checkbox" /></label>
      <label for="checkbox2">checkbox2<input id="checkbox2" name="checkbox" type="checkbox" /></label>
      <label for="checkbox3">checkbox2<input id="checkbox3" name="checkbox" type="checkbox" disabled/></label>
      <label for="color">color<input id="color" type="color" /></label>
      <label for="file">file<input id="file" type="file" /></label>
      <label for="image">image<input id="image" type="image" /></label>
      <label for="range">range<input id="range" type="range" /></label>
      <label for="url">url<input id="url" type="url" /></label>
      <label for="reset">reset<input id="reset" type="reset" /></label><!-- FORM tag 데이터 초기화(삭제 아님) -->
      <a href="/link">link</a>

      <object>
      </object>

      <input type="datetime-local" />
      <input type="time" />
      <input type="date" />
      <input type="week" />
      <input type="month" />

      <fieldset>
        <legend>성별</legend>
        남자 <br>
        여자
      </fieldset>
      <button>버튼</button>

      <progress>??</progress>
      <dialog></dialog>
      <details>
        <summary>Title</summary>
        Content Area
      </details>
    </form>
  </article>
</section>
